.row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.column {
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    align-items: center;
}
p {
    font-size: 1.25rem;
}
