.row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 500.98px) {
    .row {
        gap: 0px;
       
  }
}

.column {
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
.column:hover {
      background-color: var(--color-dark);
      transform: scale(110%);
    box-shadow: var(--box-shadow);
}
.column2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    border-style: hidden;
}
p {
    font-size: 1.25rem;
}
