.titleBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.storage {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 800px;
    border: 1px solid var(--color-dark-2);
    border-radius: var(--border-radius);
    padding: 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}